/*
 * This is an adjustment of the original modena.css for a consistent dark theme.
 * Original modena.css here: https://gist.github.com/maxd/63691840fc372f22f470.
 */

/* Redefine base colors */
.root {
    -fx-base: rgb(50.0, 50.0, 50.0);
    -fx-background: rgb(50.0, 50.0, 50.0);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10.0%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(20.0, 20.0, 20.0);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220.0, 220.0, 220.0);
    -fx-mid-text-color: rgb(100.0, 100.0, 100.0);
    -fx-dark-text-color: rgb(20.0, 20.0, 20.0);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0.0, 80.0, 100.0);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50.0, 50.0, 50.0);
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, 50.0%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220.0, 220.0, 220.0);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240.0, 240.0, 240.0);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255.0, 255.0, 255.0);
}